body {
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.button-text {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.a {
  background-image: url("https://github.com/KK-Harjeeth/Beat-Blast/blob/main/images/crash.png?raw=true");
}
.s {
  background-image: url("https://github.com/KK-Harjeeth/Beat-Blast/blob/main/images/kick.png");
}

.d {
  background-image: url("https://github.com/KK-Harjeeth/Beat-Blast/blob/main/images/snare.png?raw=true");
}

.f {
  background-image: url("https://github.com/KK-Harjeeth/Beat-Blast/blob/main/images/tom1.png?raw=true");
}

.j {
  background-image: url("https://github.com/KK-Harjeeth/Beat-Blast/blob/main/images/tom2.png?raw=true");
}

.k {
  background-image: url("/Users/kk_harjeeth/Documents/Web Development/Beat-Blast/images/tom3.png");
}

.l {
  background-image: url("/Users/kk_harjeeth/Documents/Web Development/Beat-Blast/images/tom4.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: black;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}

/* Style the button */
#tutorial-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:lightgrey;
  color:black;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px; /* Adjust this value as needed to position the dropdown below the button */
  right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}
